# Understanding Series and DataFrame

In [2]:
import pandas as pd

## What is Series?
Series is a single column of data.

In [3]:
s = pd.Series([10, 20, 30, 40])
print(s)

0    10
1    20
2    30
3    40
dtype: int64

### Access particular value

In [4]:
print(s[2])
print(s[1])

30
20

## What is DataFrames?
Data Frame is a Table (rows + columns). Collection of series.

In [5]:
df = pd.DataFrame({
    "Name" : ["AAA", "BBB", "CCC"],
    "Age" : [10, 20, 30]
})
print(df)

  Name  Age
0  AAA   10
1  BBB   20
2  CCC   30

### Access particular value

In [6]:
print(df["Age"])

0    10
1    20
2    30
Name: Age, dtype: int64

## Basic operations

### On Series
- values
- index

In [7]:
print(s.values)
print(s.index)

[10 20 30 40]
RangeIndex(start=0, stop=4, step=1)

### On DataFrame
- values
- shape
- columns
- index
- dtype
We can slice the dataframe to select a particular series or a particular DataFrame from entire DataFrame.

In [18]:
print(df.shape)
print("----")
print(df.columns)
print("----")
print(df.index)
print("----")
print(df.dtypes)
print("----")
print(df["Age"].dtypes)
print("----")
print(df["Name"].values)

(3, 2)
----
Index(['Name', 'Age'], dtype='object')
----
RangeIndex(start=0, stop=3, step=1)
----
Name    object
Age      int64
dtype: object
----
int64
----
['AAA' 'BBB' 'CCC']

# Practice Que's

1. Create a Series containing 5 numbers.
2. Get the first and last value of that Series.
3. Create a DataFrame with columns: City, Temp. Put 3 rows.
4. Print: shape, columns, dtypes

In [22]:
series = pd.Series([10,20,30,40,50])
print(series[0],series[4])

10 50

In [28]:
dataframe = pd.DataFrame({
    "City": ["abc", "def", "ghi"],
    "Temp": [35.2, 37.7, 34.8]
})
print(dataframe)
print("----")
print(dataframe.shape)
print("----")
print(dataframe.columns)
print("----")
print(dataframe.dtypes)

  City  Temp
0  abc  35.2
1  def  37.7
2  ghi  34.8
----
(3, 2)
----
Index(['City', 'Temp'], dtype='object')
----
City     object
Temp    float64
dtype: object